*~
*.o
*.a
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
dvdread-config
install-sh
libdvdread.spec
libtool
ltmain.sh
missing
*.lo
*.la
relchk.sh
stamp-h1
*.pyc
*.pc
*.exe
